#projects-links {
	--border-width: 2px;
	--border-radius: 0.25rem;
    color: white;

	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	width: 45%;

	padding: .7rem 1.5rem;

	text-decoration: none;

	font-size: 1rem;

	background: linear-gradient(to left, #6964de, #fca6e9);
	border: 0;

	border-radius: var(--border-radius);
	z-index: 1;
}

#projects-links::before {
	content: "";
	display: block;
	height: calc(100% - calc(var(--border-width) * 2));
	width: calc(100% - calc(var(--border-width) * 2));
	background-color: var(--bg-primary);

	border-radius: calc(var(--border-radius) - var(--border-width));

	position: absolute;

	top: var(--border-width);
	left: var(--border-width);
	z-index: -1;
}

.link-text {
	font-family: "Inter";
	font-style: normal;
	font-weight: 300;
	font-size: 1rem;
	line-height: 150%;
	color: #ffffff;
}
