@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

nav {
    font-family: "Inter";
    height: 5rem;
    background-color: var(--bg-primary-hero);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 3.125rem 0px 6.25rem;
    /* position: fixed; */
    /* width: 100%; */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

nav .logo {
    color: var(--text-primary);
    font-style: normal;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.813rem;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 0.313rem;
}

nav ul li a {
    color: var(--text-primary);
    text-decoration: none;
    letter-spacing: 0.063rem;
    padding: 0.5rem 0.625rem;
    border-radius: 0.313rem;
    transition: all 0.3s ease;
    font-style: normal;
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 0.086rem;
}

nav ul li a:hover {
    background-color: var(--text-primary);
    color: var(--bg-primary-hero);

}

#click {
    display: none;
}

nav .menu-btn i {
    color: var(--text-primary);
    font-size: 1.375rem;
    cursor: pointer;
    display: none;
}

@media (max-width:940px) {
    nav .menu-btn i {
        display: block;
    }

    nav ul {
        position: fixed;
        top: 5rem;
        left: -100%;
        background-color: var(--bg-primary-hero);
        width: 100%;
        height: 100vh;
        display: block;
        text-align: center;
        transition: all 0.3s ease;
    }

    #click:checked~.menu-btn i::before {
        content: "\f00d";

    }

    #click:checked~ul {
        left: 0%;
    }

    nav ul li {
        margin: 2.5rem 0px;
    }

    nav ul li a {
        font-size: 1.25rem;
        display: block;
    }

    nav ul li a:hover,
    nav ul li a:active {
        color: cyan;
        background: none;
    }
}