:root {
  /* font-size: 16px;
    font-family: 'Inter'; */
  /* --bg-primary: #201F1F;
    --bg-secondary: */
  --text-primary: #FFFFFF;
  --text-secondary: #F0F0F0;
  --bg-primary-hero: #111111;
}

body {
  /* color: black;
    background-color: white; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Light";
  /*Can be any text*/
  src: local("Inter"),
    url("./Fonts/Inter-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Light";
  /*Can be any text*/
  src: local("Inter-Bold"),
    url("./Fonts/Inter-Bold.ttf") format("truetype");
}